<div class="card-container background ">
  <mat-card id="inputFormCard">
    <mat-card-header>
      <mat-card-title><h2 class="text-color">Leasing Application</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content id="inputCardContent">
      <form [formGroup]="leasingForm" (ngSubmit)="submitForm()">
        <mat-form-field>
          <mat-select placeholder="{{leasingFormLabels.CUSTOMER_TYPE}}"
                      id="customerType"
                      name="customerTypeField" formControlName="customerType"
                      required
                      (change)="updateMinValues()">
            <mat-option [value]="PRIVATE">Private</mat-option>
            <mat-option [value]="BUSINESS">Business</mat-option>
          </mat-select>
          <mat-error *ngIf="leasingForm.get('customerType').invalid">
            Customer Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div>

          <mat-form-field>
            <mat-select placeholder="{{leasingFormLabels.ASSET_TYPE}}" id="assetType"
                        required name="assetTypeField" value="Vehicle">
              <mat-option *ngFor="let type of availableAssetTypes" [value]="type">{{type}}</mat-option>
              <mat-error *ngIf="leasingForm.get('assetType').invalid">
                Asset Type is <strong>required</strong>
              </mat-error>
            </mat-select>
          </mat-form-field>

        </div>

        <div>

          <mat-form-field>
            <input type="text" placeholder="{{leasingFormLabels.CAR_BRAND}}"
                   matInput #input required
                   formControlName="carBrand" [matAutocomplete]="carBrand"
                   aria-label="carBrand"
                   (change)="selectBrandHandler()"
                   (keyup)="selectBrandHandler()"
            >
            <mat-error *ngIf="leasingForm.get('carBrand').invalid">
              Car Brand is <strong>required</strong>
            </mat-error>
            <mat-autocomplete #carBrand="matAutocomplete">
              <mat-option *ngFor="let option of filteredCarBrands | async" [value]="option"
                          (click)="selectBrandHandler()">
                <img src="./assets/images/CarLogos/{{option}}.png" id="smallCarLogo"/>
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>


        <div>

          <mat-form-field>
            <input type="text" placeholder="{{leasingFormLabels.CAR_MODEL}}"
                   matInput #input disabled
                   formControlName="carModel"
                   aria-label="carModel"
                   [matAutocomplete]="carModel">

            <mat-error *ngIf="leasingForm.get('carModel').invalid">
              Car Model is <strong>required</strong>
            </mat-error>
            <mat-autocomplete #carModel="matAutocomplete">
              <mat-option *ngFor="let option of filteredCarModels | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </div>


        <div>

          <mat-form-field>
            <input type="date" matInput placeholder="{{leasingFormLabels.MANUFACTURED_DATE}}"
                   id="manufacturedDate" required
                   formControlName="manufacturedDate"
                   name="manufacturedDateForm">
            <mat-error *ngIf="leasingForm.get('manufacturedDate').invalid">
              Manufactured Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>


        <div>

          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="{{leasingFormLabels.ENGINE_POWER}}"
                   id="enginePower" required
                   formControlName="enginePower"
                   name="enginePowerForm" min="1" max="9999"
                   [errorStateMatcher]="leasingFormErrorMatcher"
            >
            <mat-error *ngIf="leasingForm.get('enginePower').hasError('min')
        && !leasingForm.get('enginePower').hasError('required')
        && !leasingForm.get('enginePower').hasError('max')">
              Engine Power must be above <strong>{{validationAmounts.ENGINE_POWER_MIN}}</strong>
            </mat-error>
            <mat-error *ngIf="!leasingForm.get('enginePower').hasError('required')
        && leasingForm.get('enginePower').hasError('max')">
              Engine Power must be below <strong>{{validationAmounts.ENGINE_POWER_MAX}}</strong>
            </mat-error>
            <mat-error *ngIf="leasingForm.get('enginePower').hasError('required')">
              Engine Power is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>


        <div>

          <mat-form-field>
            <input type="number" matInput placeholder="{{leasingFormLabels.ASSET_PRICE}}"
                   id="assetPrice" required
                   formControlName="assetPrice"
                   name="assetPriceField"
                   min="5000" max="9999999"
                   (keyup)="manageDependantFields()"
                   (change)="manageDependantFields()"
                   [errorStateMatcher]="leasingFormErrorMatcher">

            <mat-error *ngIf="leasingForm.get('assetPrice').hasError('min')
        && !leasingForm.get('assetPrice').hasError('required')
        && !leasingForm.get('assetPrice').hasError('max')">
              Asset Price must be above <strong>{{this.minAssetPrice}}€</strong>
            </mat-error>
            <mat-error *ngIf="!leasingForm.get('assetPrice').hasError('required')
        && leasingForm.get('assetPrice').hasError('max')">
              Asset Price must be below <strong>{{validationAmounts.MAX_ASSET_PRICE}}€</strong>
            </mat-error>
            <mat-error *ngIf="leasingForm.get('assetPrice').hasError('required')">
              Asset Price is <strong>required</strong>
            </mat-error>

          </mat-form-field>


        </div>


        <div>

          <mat-form-field>
            <input type="number" matInput placeholder="{{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}}"
                   id="advancePaymentPercentage"
                   formControlName="advancePaymentPercentage"
                   name="advancePaymentPercentageField"
                   min="10" max="100"
                   required
                   (keyup)="calcAdvancePaymentAmount()"
                   (change)="calcAdvancePaymentAmount()"
                   [errorStateMatcher]="leasingFormErrorMatcher">

            <mat-error *ngIf="leasingForm.get('advancePaymentPercentage').hasError('min')
        && !leasingForm.get('advancePaymentPercentage').hasError('required')
        && !leasingForm.get('advancePaymentPercentage').hasError('max')">
              Advance payment percentage must be above
              <strong>{{validationAmounts.ADVANCE_PAYMENT_PERCENTAGE_MIN}}%</strong>
            </mat-error>
            <mat-error *ngIf="!leasingForm.get('advancePaymentPercentage').hasError('required')
        && leasingForm.get('advancePaymentPercentage').hasError('max')">
              Advance payment percentage must be below
              <strong>{{validationAmounts.ADVANCE_PAYMENT_PERCENTAGE_MAX}}%</strong>
            </mat-error>
            <mat-error *ngIf="leasingForm.get('advancePaymentPercentage').hasError('required')">
              Advance payment percentage is <strong>required</strong>
            </mat-error>

          </mat-form-field>


        </div>


        <div>

          <mat-form-field>
            <input type="text" matInput placeholder="{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}"
                   id="advancePaymentAmount" name="advancePaymentAmountField"
                   formControlName="advancePaymentAmount"
                   min="500" max="9999999"
                   required
                   (keyup)="calcAdvancePaymentPercentage()"
                   (change)="calcAdvancePaymentPercentage()"
                   [errorStateMatcher]="leasingFormErrorMatcher">

            <mat-error *ngIf="leasingForm.get('advancePaymentAmount').hasError('min')
        && !leasingForm.get('advancePaymentAmount').hasError('required')
        && !leasingForm.get('advancePaymentAmount').hasError('max')">
              Advance payment amount must be above
              <strong>{{this.minAdvancePaymentAmount.toFixed(2)}}€</strong>
            </mat-error>
            <mat-error *ngIf="!leasingForm.get('advancePaymentAmount').hasError('required')
        && leasingForm.get('advancePaymentAmount').hasError('max')">
              Advance payment amount must be below
              <strong>{{this.maxAdvancePaymentAmount.toFixed(2)}}€</strong>
            </mat-error>
            <mat-error *ngIf="leasingForm.get('advancePaymentAmount').hasError('required')">
              Advance payment amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </div>
        <div>

          <mat-form-field>
            <input matInput placeholder="{{leasingFormLabels.CONTRACT_FEE}}"
                   disabled id="contractFee"
                   name="contractFeeField"
                   [value]="leasingForm.get('contractFee').value">
          </mat-form-field>

        </div>


        <div>

          <mat-form-field>
            <input type="number" matInput placeholder="{{leasingFormLabels.MARGIN}}"
                   id="margin" required
                   formControlName="margin" name="margin" step="0.1" min="3.2" max="100"
                   [errorStateMatcher]="leasingFormErrorMatcher">

            <mat-error *ngIf="leasingForm.get('margin').hasError('min')
        && !leasingForm.get('margin').hasError('required')
        && !leasingForm.get('margin').hasError('max')">
              Margin must be above
              <strong>{{validationAmounts.MARGIN_MIN}}%</strong>
            </mat-error>
            <mat-error *ngIf="!leasingForm.get('margin').hasError('required')
        && leasingForm.get('margin').hasError('max')">
              Margin payment amount must be below
              <strong>{{validationAmounts.MARGIN_MAX}}%</strong>
            </mat-error>
            <mat-error *ngIf="leasingForm.get('margin').hasError('required')">
              Margin payment amount is <strong>required</strong>
            </mat-error>

          </mat-form-field>


        </div>


        <div>

          <mat-form-field>
            <mat-select placeholder="{{leasingFormLabels.LEASING_PERIOD}}" id="leasePeriodInMonths"
                        required name="leasePeriodInMonthsField"
                        formControlName="leasePeriodInMonths">
              <mat-option *ngFor="let type of leasePeriods" [value]="type">{{type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="leasingForm.get('leasePeriodInMonths').invalid">
              Lease Period is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>


        <div>

          <mat-form-field style="align-content: left">
            <mat-select placeholder="{{leasingFormLabels.PAYMENT_DAY}}" id="paymentDay"
                        name="paymentDateField" formControlName="paymentDate"
                        required>
              <mat-option *ngFor="let currentDay of availableDays" [value]="currentDay">{{currentDay}}</mat-option>
            </mat-select>
            <mat-error *ngIf="leasingForm.get('paymentDate').invalid">
              Payment Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <div>
          <button mat-raised-button type="submit" (click)="goBack()">Back</button>
          <button mat-raised-button type="submit" color="accent" (click)="setLeasingModel()">
            Submit form
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
