<div class="container">
  <h1>Private customer form</h1>
  <form>

    <div class="form-group">
      <label for="customerType">Customer Type</label>
      <select class="form-control" id="customerType" required name="customerTypeField" [(ngModel)]="customerType">
        <option *ngFor="let type of availableCustomerTypes" [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="assetType">AssetType</label>
      <select class="form-control" id="assetType" required name="customerTypeField" [(ngModel)]="assetType">
        <option *ngFor="let type of availableAssetTypes" [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="carBrand">Car Brand</label>
        <select class="form-control" id="carBrand" name="carBrandField" [(ngModel)]="carBrand" (change)="selectBrandHandler($event)" required>
          <option *ngFor="let selectedBrand of cars" [value]="selectedBrand.make">{{selectedBrand.make}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="carModel">Car Model</label>
          <select class="form-control" id="carModel" name="carModelField" [(ngModel)]="carModel" required>
            <option *ngFor="let selectedModel of model" [value]="selectedModel">{{selectedModel}}</option>
          </select>
      </div>
    <hr>

    <div class="form-group">
      <label for="manufacturedDate">Manufactured Date</label>
      <input type="date"  class="form-control" id="manufacturedDate"
             [(ngModel)]="manufacturedDate" name="manufacturedDate">
    </div>

    <div class="form-group">
      <label for="enginePower">Engine power</label>
      <input type="text" class="form-control" id="enginePower" name="enginePowerField" required [(ngModel)]="enginePower">
    </div>

    <div class="form-group">
      <label for="assetPrice">Asset price</label>
      <input type="text" class="form-control" id="assetPrice" name="assetPriceField" required [(ngModel)]="assetPrice" (change)=calcContractFee($event) (change)=calcAdvancePaymentAmount($event)>
    </div>

    <div class="form-group">
      <label for="advancePaymentPercentage">Advance payment percentage</label>
      <input type="text" class="form-control" id="advancePaymentPercentage" name="advancePaymentPercentageField" required [(ngModel)]="advancePaymentPercentage" (change)=calcAdvancePaymentAmount($event)>
    </div>

    <div class="form-group">
      <label for="advancePaymentAmount">Advance payment amount</label>
      <input type="text" class="form-control" id="advancePaymentAmount" name="advancePaymentAmountField" required [(ngModel)]="advancePaymentAmount" disabled>
    </div>

    <div class="form-group">
      <label for="leasePeriodInMonths">Lease period in months</label>
      <input type="number" class="form-control" id="leasePeriodInMonths" name="leasePeriodInMonthsField" required [(ngModel)]="leasePeriodInMonths" step="6" min="6" max="84">
    </div>

    <div class="form-group">
      <label for="margin">Margin</label>
      <input type="text" class="form-control" id="margin" name="marginField" required [(ngModel)]="margin">
    </div>

    <div class="form-group">
      <label for="contractFee">Contract Fee</label>
      <input type="text" class="form-control" id="contractFee" name="contractFeeField" [(ngModel)]="contractFee" disabled>
    </div>

    <div class="form-group">
      <label for="paymentDay">Payment day</label>
      <select class="form-control" id="paymentDay" name="paymentDateField" [(ngModel)]="paymentDate" required>
        <option *ngFor="let currentDay of availableDays" [value]="currentDay">{{currentDay}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" (click)="submitForm()">Submit form</button>

  </form>
</div>
