<div class="container">
  <h1>Leasing Application</h1>

  <form [formGroup]="leasingForm" (ngSubmit)="submitForm()">

    <div class="form-row">
      <div class="form-group col-md-4 col-sm-6">
        <label for="customerType">{{leasingFormLabels.CUSTOMER_TYPE}}</label>
        <select class="form-control" id="customerType" required name="customerTypeField"
                formControlName="customerType" (change)="setMinAssetPrice()">
          <option *ngFor="let type of availableCustomerTypes" [value]="type">{{type}}</option>
        </select>

        <div [hidden]="leasingForm.get('customerType').valid || leasingForm.get('customerType').untouched"
             class="alert-danger alert">
          Customer type is required
        </div>
      </div>

      <div class="form-group col-md-4 col-sm-6">
        <label for="assetType">{{leasingFormLabels.ASSET_TYPE}}</label>
        <select class="form-control" id="assetType" required name="assetTypeField" formControlName="assetType">
          <option *ngFor="let type of availableAssetTypes" [value]="type">{{type}}</option>
        </select>

        <div [hidden]="leasingForm.get('assetType').valid || leasingForm.get('assetType').untouched"
             class="alert-danger alert">
          Customer type is required
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group  col-md-4 col-sm-6">
        <label for="carBrand">{{leasingFormLabels.CAR_BRAND}}</label>
        <select class="form-control" id="carBrand" name="carBrandField" formControlName="carBrand"
                (change)="selectBrandHandler()" required>
          <option *ngFor="let selectedBrand of cars" [value]="selectedBrand.make">{{selectedBrand.make}}</option>
        </select>
        <div [hidden]="leasingForm.get('carBrand').valid || leasingForm.get('carBrand').untouched"
             class="alert-danger alert">
          Car Brand is required
        </div>
      </div>

      <div class="form-group col-md-4 col-sm-6">
        <label for="carModel">{{leasingFormLabels.CAR_MODEL}}</label>
        <select class="form-control" id="carModel" name="carModelField" formControlName="carModel">
          <option *ngFor="let selectedModel of model" [value]="selectedModel">{{selectedModel}}</option>
        </select>

        <div [hidden]="leasingForm.get('carModel').valid || leasingForm.get('carModel').untouched"
             class="alert-danger alert">
          Car Model is required
        </div>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group  col-md-4 col-sm-6">
        <label for="manufacturedDate">{{leasingFormLabels.MANUFACTURED_DATE}}</label>
        <input type="date" class="form-control" id="manufacturedDate"
               formControlName="manufacturedDate"
               name="manufacturedDateForm">

        <div [hidden]="leasingForm.get('manufacturedDate').valid || leasingForm.get('manufacturedDate').untouched"
             class="alert-danger alert">
          Manufactured date is required.
        </div>
      </div>

      <div class="form-group col-md-4 col-sm-6">
        <label for="enginePower">{{leasingFormLabels.ENGINE_POWER}}</label>
        <input type="number" class="form-control" id="enginePower"
               formControlName="enginePower"
               name="enginePowerForm">

        <div [hidden]="leasingForm.get('enginePower').valid || leasingForm.get('enginePower').untouched"
             class="alert-danger alert">
          Engine power must be between 1 and 9999
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 col-sm-6">
        <label for="assetPrice">{{leasingFormLabels.ASSET_PRICE}}</label>
        <input type="number" class="form-control" id="assetPrice" required
               formControlName="assetPrice"
               name="assetPriceField"
               (keyup)=calcAdvancePaymentAmountAndContractFee() (change)=calcAdvancePaymentAmountAndContractFee()>

        <div [hidden]="leasingForm.get('assetPrice').valid || leasingForm.get('assetPrice').untouched"
             class="alert alert-danger">
          Asset price must be between {{this.minAssetPrice}} and 9999999
        </div>
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <label for="advancePaymentPercentage">{{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}}</label>
        <input type="number" class="form-control" id="advancePaymentPercentage"
               formControlName="advancePaymentPercentage"
               name="advancePaymentPercentageField"
               (keyup)=calcAdvancePaymentAmountAndContractFee()
               (change)="calcAdvancePaymentAmountAndContractFee()">

        <div
          [hidden]="leasingForm.get('advancePaymentPercentage').valid || leasingForm.get('advancePaymentPercentage').untouched"
          class="alert alert-danger">
          Advance payment percentage must be between 10% and 100%
        </div>

      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-4 col-sm-6">
        <label for="advancePaymentAmount">{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}</label>
        <input type="text" class="form-control" id="advancePaymentAmount" name="advancePaymentAmountField"
               formControlName="advancePaymentAmount" disabled>
      </div>

      <div class="form-group col-md-4 col-sm-6">
        <label for="contractFee">{{leasingFormLabels.CONTRACT_FEE}}</label>
        <input type="text" class="form-control" id="contractFee" name="contractFeeField"
               formControlName="contractFee" disabled>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-4 col-sm-6">
        <label for="margin">{{leasingFormLabels.MARGIN}}</label>
        <input type="number" class="form-control" id="margin" required
               formControlName="margin" name="margin" step="0.1">

        <div [hidden]="leasingForm.get('margin').valid || leasingForm.get('margin').untouched"
             class="alert alert-danger">
          Margin must be between 3.2% and 100 %
        </div>
      </div>

      <div class="form-group col-md-4 col-sm-6">
        <label for="leasePeriodInMonths">{{leasingFormLabels.LEASING_PERIOD}}</label>
        <select class="form-control" id="leasePeriodInMonths" required name="leasePeriodInMonthsField"
                formControlName="leasePeriodInMonths">
          <option *ngFor="let type of leasePeriods" [value]="type">{{type}}</option>
        </select>

        <div [hidden]="leasingForm.get('leasePeriodInMonths').valid || leasingForm.get('leasePeriodInMonths').untouched"
             class="alert alert-danger">
          Lease period is required.
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 col-sm-6">
        <label for="paymentDay">{{leasingFormLabels.PAYMENT_DAY}}</label>
        <select class="form-control" id="paymentDay" name="paymentDateField" formControlName="paymentDate"
                required>
          <option *ngFor="let currentDay of availableDays" [value]="currentDay">{{currentDay}}</option>
        </select>
        <div [hidden]="leasingForm.get('paymentDate').valid || leasingForm.get('paymentDate').untouched"
             class="alert alert-danger">
          Payment date is required.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="setLeasingModel()">Submit
      form
    </button>
  </form>

</div>
