
<mat-tab-group >
  <mat-tab class="mat-tab-label-content " onclick="" label="All Applications">
    <div class="background">
    <mat-card>
    <div class="pending">
      <h4 color="primary">Pending Applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex = index">


        <mat-accordion class="example-headers-align" *ngIf="lease.status==='PENDING'">
          <mat-expansion-panel [expanded]="step11 === stepIndex" (opened)="setStep11(stepIndex)" hideToggle="true">


            <mat-expansion-panel-header id="header">
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}


              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"  ></app-application-info>
              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
    <div class="approved">
      <h4>Approved Applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex2 = index">
        <mat-accordion class="example-headers-align" *ngIf="lease.status==='APPROVED'">
          <mat-expansion-panel [expanded]="step12 === stepIndex2" (opened)="setStep12(stepIndex2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    <div class="denied">
      <h4>Denied applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex3 = index">

        <mat-accordion class="example-headers-align" *ngIf="lease.status==='DENIED'">
          <mat-expansion-panel [expanded]="step13 === stepIndex3" (opened)="setStep13(stepIndex3)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>

    </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Private Customers Applications">
    <div class="background">
    <mat-card>

    <div class="pending">
      <h4 color="primary">Pending Applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex = index" >

        <mat-accordion class="example-headers-align" *ngIf="lease.leasingModel.customerType==='PRIVATE'&&lease.status==='PENDING'" >
          <mat-expansion-panel [expanded]="step21 === stepIndex" (opened)="setStep21(stepIndex)" hideToggle="true">


            <mat-expansion-panel-header >
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}

              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"  ></app-application-info>
              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
    <div class="approved">
      <h4>Approved Applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex2 = index">
        <mat-accordion class="example-headers-align" *ngIf="lease.leasingModel.customerType==='PRIVATE'&&lease.status==='APPROVED'" >
          <mat-expansion-panel [expanded]="step22 === stepIndex2" (opened)="setStep22(stepIndex2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    <div class="denied">
      <h4>Denied applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex3 = index">

        <mat-accordion class="example-headers-align" *ngIf="lease.leasingModel.customerType==='PRIVATE'&&lease.status==='DENIED'" >

          <mat-expansion-panel [expanded]="step23 === stepIndex3" (opened)="setStep23(stepIndex3)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Business Customers Applications">
    <div class="background">
    <mat-card>
    <div class="pending">
      <h4 color="primary">Pending Applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex = index" >


        <mat-accordion class="example-headers-align" *ngIf=" lease.leasingModel.customerType === 'BUSINESS' && lease.status === 'PENDING'">
          <mat-expansion-panel [expanded]="step31 === stepIndex" (opened)="setStep31(stepIndex)" hideToggle="true">


            <mat-expansion-panel-header >
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}

              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"  ></app-application-info>
              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
    <div class="approved">
      <h4>Approved Applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex2 = index">
        <mat-accordion class="example-headers-align" *ngIf="lease.leasingModel.customerType === 'BUSINESS' && lease.status === 'APPROVED' ">
          <mat-expansion-panel  [expanded]="step32 === stepIndex2" (opened)="setStep32(stepIndex2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    <div class="denied">
      <h4>Denied applications</h4>
      <div *ngFor="let lease of leasesPrivateAndBusiness; let stepIndex3 = index">

        <mat-accordion class="example-headers-align" *ngIf=" lease.leasingModel.customerType === 'BUSINESS' && lease.status === 'DENIED'">
          <mat-expansion-panel [expanded]="step33 === stepIndex3" (opened)="setStep33(stepIndex3)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submitted on {{(lease.date).substr(0, 10)}} by {{lease.privateCustomerInfo?.name}} {{lease.privateCustomerInfo?.lastName}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease" (updates)="updates($event)"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    </mat-card>
    </div>

  </mat-tab>

</mat-tab-group>


