<mat-tab-group color="warn">
  <mat-tab class="mat-tab-label-content custom-theme"  label="All Applications">
    <div>
      <h4 color="primary">Pending Applications</h4>
      <div *ngFor="let lease of pending; let stepIndex = index">


        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === stepIndex" (opened)="setStep(stepIndex)" hideToggle="true">


            <mat-expansion-panel-header id="header">
              <mat-panel-title>
                Application {{lease.id}} submited on {{lease.date}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease"></app-application-info>
              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </div>
    <div>
      <h4>Approved Applications</h4>
      <div *ngFor="let lease of approved; let stepIndex2 = index">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step2 === stepIndex2" (opened)="setStep2(stepIndex2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submited on {{lease.date}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    <div>
    </div>
    <div>
      <h4>Denied applications</h4>
      <div *ngFor="let lease of denied; let stepIndex3 = index">

        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step3 === stepIndex3" (opened)="setStep3(stepIndex3)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Application submited on {{lease.date}}
              </mat-panel-title>
              <ng-template matExpansionPanelContent>
                <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                                      [leasesInfoOfBusiness]="leasesInfoOfBusiness" [names]="names"
                                      [pending]="lease"></app-application-info>

              </ng-template>

            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Private Customers Applications">Content 2
    <div>
      <h4>All Applications</h4>
      <div *ngFor="let lease of leasesInfoOfPrivate; let stepIndex = index">
        <app-application-info [lease]="lease" [leasesInfoOfPrivate]="leasesInfoOfPrivate"
                              [stepIndex]="stepIndex"></app-application-info>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Business Customer Applications">
    <div>
      <h4>All Applications</h4>
      <div *ngFor="let lease of leasesInfoOfBusiness; let stepIndex = index">
        <app-application-info [lease]="lease" [leasesInfoOfBusiness]="leasesInfoOfBusiness"
                              [stepIndex]="stepIndex"></app-application-info>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>

