@import '~@angular/material/theming';

@mixin app-mat-theming-theme($theme) {
  $primary: map_get($theme, primary);
  $accent: map_get($theme, accent);
  $warn: map_get($theme, warn);
  $foreground: map_get($theme, foreground);
  $background: map_get($theme, background);

  app-mat-theming {
    >div    >h1 {
      color: mat-color($primary);
    }
  }

  app-side-nav{
    .background-color {
      /*background-color: #FFFF00;*/
      background-color: mat-color($primary);
      //background-color: #3F51B5;
      color: mat-color($foreground, text);
    }

    .light-text {
      color: mat-color($accent, lighter);
      //color: white;
    }
    a.mat-list-item {
      color: mat-color($primary, darker);
    }
    a.mat-list-item, .mat-list, .mat-list-item{
      color: white;
    }

    a.mat-list-item:hover, a.mat-list-item:focus {
      background-color: mat-color($accent, default);
      //background-color: #FFC400;
    }
  };

  //Example if we'd use in one class all styles
  //Then we should define styles for separate components, but functions also available so might be useful
  //app-leasing-calculator {
  //  form {
  //    background-color: mat-color($primary);
  //  }
  //}

  //We could use this class anywhere in the app! (Because app-mat-theming tag is in app.module.html)

  .background-class {
    background-color: mat-color($primary);
  }



}

