<div class="card-container background">
  <mat-card>
    <mat-card-header>
  <h1 class="text-color">{{formLabels[0]}}</h1>
    </mat-card-header>
    <mat-card-content>

  <form [formGroup]="checkStatusForm" (ngSubmit)="submitSearch()" >

    <!--<div class="form-row">-->
      <!--<div class="form-group col-md-4 col-sm-6">-->
        <mat-form-field>
          <mat-select placeholder="Customer type" id="customerType" required name="customerTypeField"
                      formControlName="customerType">
            <mat-option [value]="PRIVATE">Private</mat-option>
            <mat-option [value]="BUSINESS">Business</mat-option>
          </mat-select>


        <!--<label for="customerType">{{leasingFormLabels.CUSTOMER_TYPE}}</label>-->
        <!--<select class="form-control" id="customerType" required name="customerTypeField"-->
                <!--formControlName="customerType">-->
          <!--<option *ngFor="let type of availableCustomerTypes" [value]="type">{{type}}</option>-->
        <!--</select>-->

          <mat-error *ngIf="checkStatusForm.get('customerType').hasError('required')">
            {{formLabels[0]}} is <strong>required</strong> characters long
          </mat-error>
        <!--<div [hidden]="checkStatusForm.get('customerType').valid || checkStatusForm.get('customerType').untouched"-->
             <!--class="alert-danger alert">-->
          <!--Customer type is required-->
        <!--</div>-->
        </mat-form-field>
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-row">-->
      <!--<div class="form-group col-md-4 col-sm-6">-->
    <mat-form-field hintLabel="Must be 24 characters">
      <input matInput #input type="text" class="form-control" id="id" required
             formControlName="id" name="id" placeholder="Leasing form ID"
      [errorStateMatcher]="errorMatcher">
      <mat-hint align="end">{{input.value?.length || 0}}/24</mat-hint>

      <mat-error *ngIf="checkStatusForm.get('id').hasError('maxlength')">
        {{formLabels[1]}} must be <strong>24</strong> characters long
      </mat-error>
      <mat-error *ngIf="checkStatusForm.get('id').hasError('required')">
        {{formLabels[1]}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
        <!--<label for="id">{{formLabels[1]}}</label>-->
        <!--<input type="text" class="form-control" id="id" required-->
               <!--formControlName="id" name="id">-->
        <!--<div [hidden]="checkStatusForm.get('id').valid || checkStatusForm.get('id').untouched"-->
             <!--class="alert alert-danger">-->
          <!--{{formLabels[1]}} must be 24 characters long.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <button type="submit" mat-raised-button color="accent"  (click)="setCheckingInfo()">Check status
    </button>

    <!--<div class="form-row" >-->
    <!--<div>-->

      <!--<mat-error *ngIf="noLeasingFound" id="noLeasingFoundError" >-->
        <!--No leasing with this ID found. Please check your customer type or ID.-->
      <!--</mat-error>-->
    <!--</div>-->
    <!--</div>-->

  </form>
    </mat-card-content>
  </mat-card>
</div>
