<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon aria-hidden="true">menu</mat-icon>
    </button>
    <h1 class="example-app-name">
      <img src="./assets/images/BLUE_LEASING_LOGO.png" id="blueLeasingLogo"/>
    </h1>
  </mat-toolbar>

  <mat-sidenav-container #cont class="example-sidenav-container addition"
  >
    <mat-sidenav class="light-text" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" class="background-color">


      <mat-nav-list>
        <!--<a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>-->
        <a mat-list-item (click)="snav.toggle()" routerLink="homepage"><img src="./assets/images/homepage.png"/>  Home </a>
        <a mat-list-item (click)="snav.toggle()" routerLink="leasingCalculatorForm">
          <img src="./assets/images/calculator.png"/> Leasing Calculator</a>
        <a mat-list-item (click)="snav.toggle()" routerLink="privateForm">
          <img src="./assets/images/text-documents.png"/>Leasing Application</a>
        <a mat-list-item (click)="snav.toggle()" routerLink="checkLeasingStatus">
          <img src="./assets/images/magnifying-glass.png"/> Check Leasing Status</a>
        <a mat-list-item (click)="snav.toggle()" routerLink="officerView">
          <img src="./assets/images/list.png"/> All Applications</a>

      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <!--<p *ngFor="let content of fillerContent">{{content}}</p>-->

      <!--<router-outlet></router-outlet>-->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<!--<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>-->

