@media only screen and (max-width: 1500px) {
  .container {
    width: 750px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 250px;
  }
}

#label {
  font-size: 18px;
}

#labelis {
  font-size: 18px;
}
