       Customer id: {{lease.id}}

        <app-all-information-list style="margin: 4px" [leasingModel]="lease.leasingModel" [privateCustomerInfo]="lease.privateCustomerInfo"
                                  [businessCustomerInfo]="lease.businessCustomerInfo"></app-all-information-list>

<div *ngIf="visible">
        <button class="btn btn-group btn-success" id="approved"  (click)="openModal(true)">Approve</button>
        <button class="btn btn-group btn-danger" id="denied" (click)="openModal(false)">Deny</button>

      </div >
