
<div >
<button type="button"  class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" >
  <!--Application ID {{lease}}, submitted on {{lease}}-->

  Application {{lease.id}} submited on {{lease.date}}
  <!--*ngFor="let info of leasesModel"-->
  <!--*ngFor="let info of leasesInfoOfPrivate"-->

</button>
<div id="collapseExample" [ngbCollapse]="isCollapsed" >
  <div class="card">
    <div class="card-body">
      <h3>Application information</h3>
      <ul>
        <li>
          <label>{{leasingFormLabels.CUSTOMER_TYPE}}: </label> <span>{{lease.leasingModel.customerType}}</span>
      </li>
        <li>
        <label>{{leasingFormLabels.CAR_MODEL}}: </label> <span>{{lease.leasingModel.carModel}}</span>
        </li>
        <li>
          <!--<label>{{privateInfoLabels[1]}}: </label> <span>{{lease.privateCustomer.name}}</span>-->
        </li>
        <!--<span>{{lease.}}</span>-->
      </ul>

      </div>

    <app-dialog-form2 [lease]="lease"></app-dialog-form2>
    <div>
      <button class="btn btn-group btn-danger"  (click)="setDeniedStatus()" onclick="disabled=!disabled" >Deny</button>
      <!--<button class="btn btn-group btn-success" (click)="setAprovedStatus()"  onclick="disabled=!disabled" ng-If="setDeniedStatus() ? disabled : disabled">Approve</button>-->

      <!--onclick="disabled=!disabled"-->
      <!--[disabled]="(click) ? !isDisabled : isDisabled"-->
    </div>
    </div>
  </div>
</div>
