<div class="container">
  <h1>Private customer form</h1>

  <form (ngSubmit)="submitForm()" #privatecustomerpersonalform="ngForm">


    <!--pattern="\d{4}" maxlength="4" required-->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName">First Name</label>
        <input type="name"  class="form-control" id="firstName"
               [(ngModel)]="privateCustomerInfo.firstName"
               name="firstNameForm" #firstNameForm="ngModel">

        <div [hidden]="firstNameForm.valid || firstNameForm.untouched"
             class="alert alert-danger">
          first name is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="lastName">Last Name</label>
        <input type="name"  class="form-control" id="lastName"
               [(ngModel)]="privateCustomerInfo.lastName"
               name="lastNameForm" #lastNameForm="ngModel">

        <div [hidden]="lastNameForm.valid || lastNameForm.untouched"
             class="alert alert-danger">
          Last name is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="personalCode">Personal code</label>
        <input type="number" class="form-control" id="personalCode"
               required [(ngModel)]="privateCustomerInfo.personalCode"
               name="personalCodeForm" #personalCodeForm="ngModel">

        <div [hidden]="personalCodeForm.valid || personalCodeForm.untouched"
             class="alert alert-danger">
          Personal code is required.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="personalEmail">Personal email</label>
        <input type="email" class="form-control" id="personalEmail"
               required [(ngModel)]="privateCustomerInfo.personalEmail"
               name="personalEmailForm" #personalEmailForm="ngModel">

        <div [hidden]="personalEmailForm.valid || personalEmailForm.untouched"
             class="alert alert-danger">
            Personal email required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="phoneNumber">Phone Number</label>
        <input type="number" class="form-control" id="phoneNumber"
               required [(ngModel)]="privateCustomerInfo.phoneNumber"
               name="phoneNumberForm" #phoneNumberForm="ngModel">

        <div [hidden]="phoneNumberForm.valid || phoneNumberForm.untouched"
             class="alert alert-danger">
          Phone number is required.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="address">Address</label>
        <input type="name"  class="form-control" id="address"
               [(ngModel)]="privateCustomerInfo.address"
               name="addressForm" #addressForm="ngModel">

        <div [hidden]="addressForm.valid || addressForm.untouched"
             class="alert alert-danger">
          Address is required
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!privatecustomerpersonalform.form.valid">Submit form</button>
  </form>
</div>
