<!--<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navibar">-->
  <!--<a class="navbar-brand"><img src="../assets/images/BLUE_LEASING_LOGO.png"></a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"-->
          <!--aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="navbarNav" data-toggle="collapse" data-target="#navbarNav">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="leasingCalculatorForm" >Leasing Calculator</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="privateForm">Application Form</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="officerView">All Applications</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLink="checkLeasingStatus">Check Leasing Status</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

<!--<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">-->
  <!--<mat-toolbar color="primary" class="example-toolbar">-->
    <!--<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
    <!--<h1 class="example-app-name">Responsive App</h1>-->
  <!--</mat-toolbar>-->

  <!--<mat-sidenav-container class="example-sidenav-container"-->
                         <!--[style.marginTop.px]="mobileQuery.matches ? 56 : 0">-->
    <!--<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"-->
                 <!--[fixedInViewport]="mobileQuery.matches" fixedTopGap="56">-->
      <!--<mat-nav-list>-->
        <!--<a routerLink="privateForm">private form</a>-->
      <!--</mat-nav-list>-->
    <!--</mat-sidenav>-->

    <!--<mat-sidenav-content>-->
      <!--<p >smth</p>-->
    <!--</mat-sidenav-content>-->
  <!--</mat-sidenav-container>-->
<!--</div>-->

<!--<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>-->
<app-side-nav></app-side-nav>



