<!--<thead>-->
<!--<link rel="stylesheet" href="./material.min.css">-->
<!--<script src="./material.min.js"></script>-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->


<!--</thead>-->
<div id="swed"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="privateForm"><img src="https://www.swedbank.lt/css/images/swedbank-logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="leasingCalculatorForm" >Leasing Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="privateForm">Application Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="officerView">All Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="checkLeasingStatus">Check Leasing Status</a>
      </li>
    </ul>
  </div>
</nav>

<mat-card>
<button mat-button color="warn">
  lele
</button>
</mat-card>


<router-outlet></router-outlet>

