<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <span>Show tooltip</span>
    <!-- Position Column -->
    <ng-container matColumnDef="repaymentDate">
      <mat-header-cell *matHeaderCellDef> {{leasingCalculatorLabels[0]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.repaymentDate}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="remainingAmountToRepay">
      <mat-header-cell *matHeaderCellDef> {{leasingCalculatorLabels[1]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.remainingAmountToRepay.toFixed(2)}} </mat-cell>
    </ng-container>

    <!--'repaymentDate',-->
    <!--'remainingAmountToRepay',-->
    <!--'assetValuePaymentAmount',-->
    <!--'interestPaymentAmount',-->
    <!--'totalPaymentAmount'-->
    <!-- Weight Column -->
    <!--<div class="example-tooltip-host" matTooltip="Contract fee included" [matTooltipPosition]="position">-->
      <!--<span>Show tooltip</span>-->


    <ng-container matColumnDef="assetValuePaymentAmount" >
      <mat-header-cell *matHeaderCellDef  matTooltip="Contract fee included" [matTooltipPosition]="position"> {{leasingCalculatorLabels[2]}}*</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.assetValuePaymentAmount.toFixed(2)}} </mat-cell>
    </ng-container>
    <!--</div>-->

    <!-- Symbol Column -->
    <ng-container matColumnDef="interestPaymentAmount">
      <mat-header-cell *matHeaderCellDef> {{leasingCalculatorLabels[3]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.interestPaymentAmount.toFixed(2)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalPaymentAmount">
      <mat-header-cell *matHeaderCellDef> {{leasingCalculatorLabels[4]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalPaymentAmount.toFixed(2)}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="7"
                 [pageSizeOptions]="[7, 14, 21]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
