<div class="card-container background">
  <mat-card id="inputFormCard">
    <mat-card-header>
      <mat-card-title><h2 class="text-color">{{formLabels[0]}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="infoForm" (ngSubmit)="submitForm()">
        <mat-form-field class="inline-form">
          <input type="text" matInput placeholder="{{formLabels[1]}}" class="form-control"
                 id="name" required formControlName="name" name="name"
                 [errorStateMatcher]="errorMatcher">


          <mat-error *ngIf="infoForm.get('name').hasError('maxlength')">
            {{formLabels[1]}} must be up to <strong>{{validationAmounts.NAME_LENGTH_MAX}}</strong> characters long
          </mat-error>
          <mat-error *ngIf="infoForm.get('name').hasError('required')">
            {{formLabels[1]}} is <strong>required</strong>
          </mat-error>

        </mat-form-field>


        <div>
          <mat-form-field *ngIf="isCustomerPrivate()">
            <input type="text" matInput placeholder="{{formLabels[2]}}" class="form-control"
                   id="lastName" required
                   formControlName="lastName" name="lastName">
            <mat-error *ngIf="infoForm.get('lastName').hasError('maxlength')
      && !infoForm.get('lastName').hasError('required')">
              {{formLabels[2]}} can be up to <strong>{{validationAmounts.NAME_LAST_LENGTH_MAX}}</strong> characters long
            </mat-error>
            <mat-error *ngIf="infoForm.get('lastName').hasError('required')">
              {{formLabels[2]}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </div>

        <div>

          <mat-form-field>
            <input type="text" #message matInput placeholder="{{formLabels[3]}}" class="form-control"
                   id="code" required
                   formControlName="code" name="code">
            <mat-hint align="end">{{message.value.length}} / 11</mat-hint>
            <mat-error *ngIf="(infoForm.get('code').hasError('maxlength') || infoForm.get('code').hasError('minlength'))
      && !infoForm.get('code').hasError('required')">
              {{formLabels[3]}} must be <strong>{{validationAmounts.CODE_LENGTH}}</strong> characters long
            </mat-error>
            <mat-error *ngIf="infoForm.get('code').hasError('required')">
              {{formLabels[3]}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <div>

          <mat-form-field>
            <input type="text" matInput placeholder="{{formLabels[4]}}" class="form-control"
                   id="email" required
                   formControlName="email" name="email"
                   [errorStateMatcher]="errorMatcher">
            <mat-hint align="start">Ex: email@domain.com</mat-hint>
            <mat-error *ngIf="infoForm.get('email').hasError('maxlength')
      && !infoForm.get('email').hasError('required')
      && !infoForm.get('email').hasError('pattern')">
              {{formLabels[4]}} must be up to <strong>{{validationAmounts.EMAIL_LENGTH_MAX}}</strong> characters long
            </mat-error>
            <mat-error *ngIf="!infoForm.get('email').hasError('required')
      && infoForm.get('email').hasError('pattern')">
              Please enter <strong>valid</strong> email address
            </mat-error>
            <mat-error *ngIf="infoForm.get('email').hasError('required')">
              {{formLabels[4]}} is <strong>required</strong>
            </mat-error>
            <!--<mat-error *ngIf="infoForm.get('email').valid || infoForm.get('email').untouched">-->
            <!--{{formLabels[4]}} field is required-->
            <!--</mat-error>-->
          </mat-form-field>


        </div>
        <div>

          <mat-form-field>
            <input type="text" matInput placeholder="{{formLabels[5]}}" class="form-control"
                   id="phoneNumber" required
                   formControlName="phoneNumber" name="phoneNumber" (keypress)="_keyPress($event)">
            <span matPrefix>+&nbsp;</span>
            <mat-error *ngIf="infoForm.get('phoneNumber').hasError('maxlength')
      && !infoForm.get('phoneNumber').hasError('required')
&& !infoForm.get('phoneNumber').hasError('minlength')">
              {{formLabels[5]}} must be up to <strong>{{validationAmounts.PHONE_NUMBER_LENGTH_MAX}}</strong> digits long
            </mat-error>
            <mat-error *ngIf="!infoForm.get('phoneNumber').hasError('required')
            && infoForm.get('phoneNumber').hasError('minlength')">
              {{formLabels[5]}} must be at least <strong>{{validationAmounts.PHONE_NUMBER_LENGTH_MIN}}</strong> digits
              long
            </mat-error>
            <mat-error *ngIf="infoForm.get('phoneNumber').hasError('required')">
              {{formLabels[5]}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </div>
        <div>


          <mat-form-field>
            <input type="text" matInput placeholder="{{formLabels[6]}}" class="form-control"
                   id="address" required
                   formControlName="address" name="address">
            <mat-error *ngIf="infoForm.get('address').hasError('maxlength')">
              {{formLabels[6]}} must be up to <strong>{{validationAmounts.ADDRESS_LENGTH_MAX}}</strong> characters long
            </mat-error>
            <mat-error *ngIf="infoForm.get('address').hasError('required')">
              {{formLabels[6]}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
        <div>
          <button mat-raised-button type="submit" (click)="goBack()">Back</button>
          <button mat-raised-button type="submit" color="accent" id="submitButton" (click)="setCustomerInfo()">Submit
            form
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
