<div class="container">
  <h1>Private customer form</h1>

  <form (ngSubmit)="submitForm()" [formGroup]="infoForm">


    <div class="form-row">


      <div class="form-group col-md-4 col-sm-6">
        <label for="name">{{formLabels[0]}}</label>
        <input type="text" class="form-control" id="name" required
               formControlName="name" name="name">

        <div [hidden]="infoForm.get('name').valid || infoForm.get('name').untouched"
             class="alert alert-danger">
          {{formLabels[0]}} field is required
        </div>
      </div>


      <div class="form-group col-md-4 col-sm-6" id="test">
        <label for="lastName">{{formLabels[5]}}</label>
        <input type="text" class="form-control" id="lastName" required
               formControlName="lastName" name="lastName">

        <div [hidden]="infoForm.get('lastName').valid || infoForm.get('lastName').untouched"
             class="alert alert-danger">
          {{formLabels[5]}} field is required
        </div>
      </div>
    </div>


    <div class="form-row">


      <div class="form-group col-md-4 col-sm-6">
        <label for="code">{{formLabels[1]}}</label>
        <input type="number" class="form-control" id="code" required
               formControlName="code" name="code">

        <div [hidden]="infoForm.get('code').valid || infoForm.get('code').untouched"
             class="alert alert-danger">
          {{formLabels[1]}} field is required
        </div>
      </div>

      <div class="form-group col-md-4 col-sm-6">
        <label for="email">{{formLabels[2]}}</label>
        <input type="text" class="form-control" id="email" required
               formControlName="email" name="email">

        <div [hidden]="infoForm.get('email').valid || infoForm.get('email').untouched"
             class="alert alert-danger">
          {{formLabels[2]}} field is required
        </div>
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-4 col-sm-6">
        <label for="phoneNumber">{{formLabels[3]}}</label>
        <input type="number" class="form-control" id="phoneNumber" required
               formControlName="phoneNumber" name="phoneNumber">

        <div [hidden]="infoForm.get('phoneNumber').valid || infoForm.get('phoneNumber').untouched"
             class="alert alert-danger">
          {{formLabels[3]}} field is required
        </div>
      </div>


      <div class="form-group col-md-4 col-sm-6">
        <label for="address">{{formLabels[4]}}</label>
        <input type="text" class="form-control" id="address" required
               formControlName="address" name="address">

        <div [hidden]="infoForm.get('address').valid || infoForm.get('address').untouched"
             class="alert alert-danger">
          {{formLabels[4]}} field is required
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-success" [disabled]="!infoForm.valid" (click)="setCustomerInfo()">Submit form
    </button>
  </form>
</div>
