<div class="form-row">
  <div class="form-group col-md-6">
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-body" id="label"><b>Vehicle Information</b></div>
        <div>{{leasingLabels[2]}}: {{leasingModel.carBrand}}</div>
        <mat-list-item>{{leasingLabels[3]}}: <b class="markup"> {{leasingModel.carModel}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[4]}}: <b class="markup">{{leasingModel.manufacturedDate}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[5]}}: <b class="markup">{{leasingModel.enginePower}}</b></mat-list-item>
        <div class="panel-body" id="label"><b>Payment Information</b></div>
        <mat-list-item>{{leasingLabels[6]}}: <b class="markup"> {{leasingModel.assetPrice}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[7]}}: <b class="markup"> {{leasingModel.advancePaymentPercentage}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[8]}}: <b class="markup"> {{leasingModel.advancePaymentAmount}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[9]}}: <b class="markup"> {{leasingModel.contractFee}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[10]}}: <b class="markup"> {{leasingModel.margin}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[11]}}: <b class="markup"> {{leasingModel.leasePeriodInMonths}}</b></mat-list-item>
        <mat-list-item>{{leasingLabels[12]}}: <b class="markup"> {{leasingModel.paymentDate}}</b></mat-list-item>
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-body" id="labelis"><b color="primary">{{customerInfoLabels[0]}}</b></div>
        <mat-list-item>{{leasingLabels[0]}}: <b class="markup">{{leasingModel.customerType}} </b></mat-list-item>
        <mat-list-item class="panel-body" *ngFor="let element of customerInfoArray">{{element.heading}}:<b class="markup">
          {{element.value}}</b>
        </mat-list-item>
      </div>
    </div>
  </div>
</div>

