<div class="card-container background ">
  <mat-card id="inputFormCard">

    <mat-card-header>
      <mat-card-title><h2 class="text-color">Leasing Calculator</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content id="inputCardContent">
      <form [formGroup]="leasingCalculatorForm" (ngSubmit)="submitForm()" class="forform">
        <mat-form-field class="inline-form">
          <mat-select id="customerType" required name="customerTypeField"
                      placeholder="{{leasingFormLabels.CUSTOMER_TYPE}}"
                      formControlName="customerType" (change)="updateMinValues()">

            <mat-option [value]="PRIVATE">Private</mat-option>
            <mat-option [value]="BUSINESS">Business</mat-option>
          </mat-select>
          <mat-error *ngIf="leasingCalculatorForm.get('customerType').invalid">
            Customer Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>


        <div>
          <mat-form-field>
            <input matInput #input type="number" class="form-control" id="assetPrice" required
                   formControlName="assetPrice" placeholder='{{leasingFormLabels.ASSET_PRICE}}'
                   name="assetPriceField"
                   min="5000" max="9999999"
                   [errorStateMatcher]="leasingCalculatorErrorMatcher"
                   (keyup)="manageDependantFields()"
                   (change)="manageDependantFields()">

            <mat-error *ngIf="leasingCalculatorForm.get('assetPrice').hasError('min')
        && !leasingCalculatorForm.get('assetPrice').hasError('required')
        && !leasingCalculatorForm.get('assetPrice').hasError('max')">
              Asset Price must be above <strong>{{this.minAssetPrice}}€</strong>
            </mat-error>
            <mat-error *ngIf="!leasingCalculatorForm.get('assetPrice').hasError('required')
        && leasingCalculatorForm.get('assetPrice').hasError('max')">
              Asset Price must be below <strong>{{validationAmounts.MAX_ASSET_PRICE}}€</strong>
            </mat-error>
            <mat-error *ngIf="leasingCalculatorForm.get('assetPrice').hasError('required')">
              Asset Price is <strong>required</strong>
            </mat-error>

          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput #input type="number" required class="form-control" id="advancePaymentPercentage"
                   formControlName="advancePaymentPercentage"
                   placeholder="{{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}}"
                   name="advancePaymentPercentageField"
                   min="10" max="100"
                   (keyup)="calcAdvancePaymentAmount()"
                   (change)="calcAdvancePaymentAmount()"
                   [errorStateMatcher]="leasingCalculatorErrorMatcher">
            <mat-error *ngIf="leasingCalculatorForm.get('advancePaymentPercentage').hasError('min')
        && !leasingCalculatorForm.get('advancePaymentPercentage').hasError('required')
        && !leasingCalculatorForm.get('advancePaymentPercentage').hasError('max')">
              Advance payment percentage must be above
              <strong>{{validationAmounts.ADVANCE_PAYMENT_PERCENTAGE_MIN}}%</strong>
            </mat-error>
            <mat-error *ngIf="!leasingCalculatorForm.get('advancePaymentPercentage').hasError('required')
        && leasingCalculatorForm.get('advancePaymentPercentage').hasError('max')">
              Advance payment percentage must be below
              <strong>{{validationAmounts.ADVANCE_PAYMENT_PERCENTAGE_MAX}}%</strong>
            </mat-error>
            <mat-error *ngIf="leasingCalculatorForm.get('advancePaymentPercentage').hasError('required')">
              Advance payment percentage is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="form-row">
          <mat-form-field>
            <input matInput #input type="number" class="form-control" id="advancePaymentAmount"
                   placeholder="{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}"
                   name="advancePaymentAmountField"
                   formControlName="advancePaymentAmount"
                   min="500" max="9999999" required
                   (keyup)="calcAdvancePaymentPercentage()"
                   (change)="calcAdvancePaymentPercentage()"
                   [errorStateMatcher]="leasingCalculatorErrorMatcher">
            <mat-error *ngIf="leasingCalculatorForm.get('advancePaymentAmount').hasError('min')
        && !leasingCalculatorForm.get('advancePaymentAmount').hasError('required')
        && !leasingCalculatorForm.get('advancePaymentAmount').hasError('max')">
              Advance payment amount must be above
              <strong>{{this.minAdvancePaymentAmount.toFixed(2)}}€</strong>
            </mat-error>
            <mat-error *ngIf="!leasingCalculatorForm.get('advancePaymentAmount').hasError('required')
        && leasingCalculatorForm.get('advancePaymentAmount').hasError('max')">
              Advance payment amount must be below
              <strong>{{this.maxAdvancePaymentAmount.toFixed(2)}}€</strong>
            </mat-error>
            <mat-error *ngIf="leasingCalculatorForm.get('advancePaymentAmount').hasError('required')">
              Advance payment amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!--</div>-->

        <div>
          <mat-form-field>
            <input matInput id="contractFee" name="contractFeeField"
                   placeholder="{{leasingFormLabels.CONTRACT_FEE}}" disabled
                   [value]="leasingCalculatorForm.get('contractFee').value">
          </mat-form-field>
        </div>


        <div>
          <mat-form-field>
            <input matInput #input type="number" class="form-control" placeholder="{{leasingFormLabels.MARGIN}}"
                   id="margin" required
                   formControlName="margin" name="margin" step="0.1" min="3.2" max="100"
                   [errorStateMatcher]="leasingCalculatorErrorMatcher">
            <mat-error *ngIf="leasingCalculatorForm.get('margin').hasError('min')
        && !leasingCalculatorForm.get('margin').hasError('required')
        && !leasingCalculatorForm.get('margin').hasError('max')">
              Margin must be above
              <strong>{{validationAmounts.MARGIN_MIN}}%</strong>
            </mat-error>
            <mat-error *ngIf="!leasingCalculatorForm.get('margin').hasError('required')
        && leasingCalculatorForm.get('margin').hasError('max')">
              Margin payment amount must be below
              <strong>{{validationAmounts.MARGIN_MAX}}%</strong>
            </mat-error>
            <mat-error *ngIf="leasingCalculatorForm.get('margin').hasError('required')">
              Margin payment amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!--</div>-->

        <div>
          <mat-form-field>
            <mat-select formControlName="leasePeriodInMonths" placeholder="{{leasingFormLabels.LEASING_PERIOD}}">
              <mat-option *ngFor="let type of leasePeriods" required [value]="type">{{type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="leasingCalculatorForm.get('leasePeriodInMonths').invalid">
              Lease Period is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-select formControlName="paymentDate" placeholder="{{leasingFormLabels.PAYMENT_DAY}}">
              <mat-option *ngFor="let currentDay of availableDays" required [value]="currentDay"> {{currentDay}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leasingCalculatorForm.get('paymentDate').invalid">
              Payment Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button type="submit" id="calculate-btn" class="button-calculate" (click)="isVisible()">
            Calculate
          </button>
          <button mat-raised-button type="button" color="accent" (click)="setLeasingCalculator()">Apply Now</button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--<button type="submit" class="btn btn-success" (click)="isVisible()">Calculate</button>-->
      <!--<button type="button" class="btn btn-success" (click)="setLeasingCalculator()">Apply Now</button>-->
    </mat-card-actions>
  </mat-card>
  <mat-card class="background" id="matcard2">
    <mat-card-header>
      <mat-card-title><h2 class="text-color">Leasing Payment Schedule</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <!--<mat-paginator #paginator [length]="(repaymentScheduleDataStream | async)?.length"-->
      <!--[pageSize]="pageSize"-->
      <!--[pageSizeOptions]="pageSizeOptions"-->
      <!--(page)="pageEvent = $event">-->
      <!--</mat-paginator>-->
      <!--<div *ngIf="pageEvent">-->
      <!--<h5>Page Change Event Properties</h5>-->
      <!--<div>List length: {{pageEvent.length}}</div>-->
      <!--<div>Page size: {{pageEvent.pageSize}}</div>-->
      <!--<div>Page index: {{pageEvent.pageIndex}}</div>-->
      <!--</div>-->

      <!--<div *ngIf="pageEvent">-->
      <!--<h5>Page Change Event Properties</h5>-->
      <!--<div>List length: {{pageEvent.length}}</div>-->
      <!--<div>Page size: {{pageEvent.pageSize}}</div>-->
      <!--<div>Page index: {{pageEvent.pageIndex}}</div>-->
      <!--</div>-->

      <div *ngIf="flag">
        <app-schedule [dataStream]="repaymentSchedule">

        </app-schedule>
      </div>
    </mat-card-content>

  </mat-card>
</div>
