

<div class="card-container background ">
  <mat-card  id="inputFormCard">

    <mat-card-header>
      <mat-card-title ><h2 class="text-color">Leasing Calculator</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content id="inputCardContent">
      <form [formGroup]="leasingCalculatorForm" (ngSubmit)="submitForm()" class="forform">
        <mat-form-field class="inline-form">
          <mat-select id="customerType" required name="customerTypeField" placeholder="Customer type"
                      formControlName="customerType" (change)="updateMinValues()">

            <mat-option [value]="PRIVATE">Private</mat-option>
            <mat-option [value]="BUSINESS">Business</mat-option>
          </mat-select>
        </mat-form-field>

        <div
          [hidden]="leasingCalculatorForm.get('customerType').valid || leasingCalculatorForm.get('customerType').untouched"
          class="alert-danger alert">
          Customer type is required
        </div>


        <div>
          <!--<label>{{leasingFormLabels.ASSET_PRICE}}</label>-->
          <mat-form-field>
            <input matInput #input type="number" class="form-control" id="assetPrice" required
                   formControlName="assetPrice" placeholder='Asset price'
                   name="assetPriceField"
                   min="5000" max="9999999"
                   (keyup)="manageDependantFields()"
                   (change)="manageDependantFields()">
          </mat-form-field>
        </div>

        <div
          [hidden]="leasingCalculatorForm.get('assetPrice').valid || leasingCalculatorForm.get('assetPrice').untouched"
          class="alert alert-danger">
          Asset price must be between {{this.minAssetPrice.toFixed(2)}}€ and 9999999.00€
        </div>
        <!--</div>-->

        <div>
          <!--<label> {{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}} </label>-->
          <mat-form-field>
            <input matInput #input type="number" class="form-control" id="advancePaymentPercentage"
                   formControlName="advancePaymentPercentage" placeholder="Advance payment percentage"
                   name="advancePaymentPercentageField"
                   min="10" max="100"
                   (keyup)="calcAdvancePaymentAmount()"
                   (change)="calcAdvancePaymentAmount()">
          </mat-form-field>
        </div>

        <div
          [hidden]="leasingCalculatorForm.get('advancePaymentPercentage').valid || leasingCalculatorForm.get('advancePaymentPercentage').untouched"
          class="alert alert-danger">
          Advance payment percentage must be between 10% and 100%
        </div>

        <!--</div>-->

        <div class="form-row">
          <mat-form-field>
            <input matInput #input type="number" class="form-control" id="advancePaymentAmount"
                   placeholder="Advance payment amount"
                   name="advancePaymentAmountField"
                   formControlName="advancePaymentAmount"
                   min="500" max="9999999"
                   (keyup)="calcAdvancePaymentPercentage()"
                   (change)="calcAdvancePaymentPercentage()">
          </mat-form-field>
        </div>


        <div
          [hidden]="leasingCalculatorForm.get('advancePaymentAmount').valid || leasingCalculatorForm.get('advancePaymentAmount').untouched"
          class="alert alert-danger">
          Advance payment amount must be {{this.minAdvancePaymentAmount.toFixed(2)}}€ and
          {{this.maxAdvancePaymentAmount.toFixed(2)}}€
        </div>
        <!--</div>-->

        <div>
          <!--<label for="contractFee">{{leasingFormLabels.CONTRACT_FEE}}</label>-->
          <mat-form-field>
            <input matInput #input type="text" class="form-control" id="contractFee" name="contractFeeField"
                   formControlName="contractFee"
                   placeholder="Contract fee" disabled>
          </mat-form-field>
        </div>


        <div>
          <!--<label for="margin">{{leasingFormLabels.MARGIN}}</label>-->
          <mat-form-field >
            <input matInput #input type="number" class="form-control" placeholder="Margin" id="margin" required
                   formControlName="margin" name="margin" step="0.1" min="3.2" max="100" >
          </mat-form-field>
        </div>

        <div [hidden]="leasingCalculatorForm.get('margin').valid || leasingCalculatorForm.get('margin').untouched"
             class="alert alert-danger">
          Margin must be between 3.2% and 100 %
        </div>

        <!--</div>-->

        <div>
          <!--<label>{{leasingFormLabels.LEASING_PERIOD}}</label>-->
          <mat-form-field>
            <mat-select formControlName="leasePeriodInMonths" placeholder="Leasing period">
              <mat-option *ngFor="let type of leasePeriods" required [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div
          [hidden]="leasingCalculatorForm.get('leasePeriodInMonths').valid || leasingCalculatorForm.get('leasePeriodInMonths').untouched"
          class="alert alert-danger">
          Lease period is required.
        </div>

        <div>
          <!--<label>{{leasingFormLabels.PAYMENT_DAY}}</label>-->
          <mat-form-field>
            <mat-select formControlName="paymentDate" placeholder="Payment day">
              <mat-option *ngFor="let currentDay of availableDays" required [value]="currentDay"> {{currentDay}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          [hidden]="leasingCalculatorForm.get('paymentDate').valid || leasingCalculatorForm.get('paymentDate').untouched"
          class="alert alert-danger">
          Payment date is required.
        </div>
        <button mat-raised-button type="submit"  (click)="isVisible()">Calculate</button>
        <button mat-raised-button type="button" color="accent" (click)="setLeasingCalculator()">Apply Now</button>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--<button type="submit" class="btn btn-success" (click)="isVisible()">Calculate</button>-->
      <!--<button type="button" class="btn btn-success" (click)="setLeasingCalculator()">Apply Now</button>-->
    </mat-card-actions>
  </mat-card>
  <mat-card class="background" id="matcard2">
    <mat-card-header>
      <mat-card-title>Leasing Payment Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="repaymentSchedule" hidden>
        <form>
          <div class="form-row my-style">
            <div class="form-group col-sm-2" *ngFor="let label of leasingCalculatorLabels">
              <div class="panel panel-info">
                <div class="panel-body"><b>{{label}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" *ngFor="let repayment of repaymentSchedule">
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.repaymentDate}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.remainingAmountToRepay.toFixed(2)}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.assetValuePaymentAmount.toFixed(2)}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.interestPaymentAmount.toFixed(2)}}</i>
                </div>
              </div>
            </div>
            <!--<div class="form-group col-sm-2">-->
              <!--<div class="panel panel-info">-->
                <!--<div class="panel-body" *ngIf="repayment.contractFee != 0">-->
                  <!--<i>{{repayment.contractFee.toFixed(2)}}</i>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.totalPaymentAmount.toFixed(2)}}</i>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>

  </mat-card>
</div>
