<!--<div class="card-container">-->

<div class="card-container background" >
  <mat-card >
    <!--<img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOLmUnfI5ieyi0HcjlHneTFiCxe-GGAYJc_KsoPMUhCbyOf562">-->
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <!--</div>-->
      <mat-card-title>Leasing Calculator</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <form [formGroup]="leasingCalculatorForm" (ngSubmit)="submitForm()">


        <!--<div>-->
          <!--<label>{{leasingFormLabels.CUSTOMER_TYPE}} </label>-->
          <mat-form-field class="inline-form">
            <!--<div class="inline-form">-->
            <mat-select id="customerType" required name="customerTypeField" placeholder="Customer type"
                        formControlName="customerType" (change)="updateMinValues()">

              <!--<mat-option *ngFor="let type of availableCustomerTypes" value="type"> {{type}}</mat-option>-->
              <mat-option [value]="PRIVATE">Private</mat-option>
              <mat-option [value]="BUSINESS">Business</mat-option>
            </mat-select>
            <!--</div>-->
          </mat-form-field>

          <!--</div>-->

          <!--<div class="form-row">-->
          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="customerType">{{leasingFormLabels.CUSTOMER_TYPE}}</label>-->
          <!--<select class="form-control" id="customerType" required name="customerTypeField"-->
          <!--formControlName="customerType" (change)="updateMinValues()">-->
          <!--<option *ngFor="let type of availableCustomerTypes" [value]="type">{{type}}</option>-->
          <!--</select>-->

          <div
            [hidden]="leasingCalculatorForm.get('customerType').valid || leasingCalculatorForm.get('customerType').untouched"
            class="alert-danger alert">
            Customer type is required
          </div>


          <div>
            <!--<label>{{leasingFormLabels.ASSET_PRICE}}</label>-->
            <mat-form-field>
              <input matInput #input type="number" class="form-control" id="assetPrice" required
                     formControlName="assetPrice" placeholder='Asset price'
                     name="assetPriceField"
                     min="5000" max="9999999"
                     (keyup)="manageDependantFields()"
                     (change)="manageDependantFields()">
            </mat-form-field>
          </div>

          <!--<div class="form-row">-->
          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="assetPrice">{{leasingFormLabels.ASSET_PRICE}}</label>-->
          <!--<input type="number" class="form-control" id="assetPrice" required-->
          <!--formControlName="assetPrice"-->
          <!--name="assetPriceField"-->
          <!--min="5000" max="9999999"-->
          <!--(keyup)="manageDependantFields()"-->
          <!--(change)="manageDependantFields()">-->

          <div
            [hidden]="leasingCalculatorForm.get('assetPrice').valid || leasingCalculatorForm.get('assetPrice').untouched"
            class="alert alert-danger">
            Asset price must be between {{this.minAssetPrice.toFixed(2)}}€ and 9999999.00€
          </div>
          <!--</div>-->

          <div>
            <!--<label> {{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}} </label>-->
            <mat-form-field>
              <input matInput #input type="number" class="form-control" id="advancePaymentPercentage"
                     formControlName="advancePaymentPercentage" placeholder="Advance payment percentage"
                     name="advancePaymentPercentageField"
                     min="10" max="100"
                     (keyup)="calcAdvancePaymentAmount()"
                     (change)="calcAdvancePaymentAmount()">
            </mat-form-field>
          </div>
          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="advancePaymentPercentage">{{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}}</label>-->
          <!--<input type="number" class="form-control" id="advancePaymentPercentage"-->
          <!--formControlName="advancePaymentPercentage"-->
          <!--name="advancePaymentPercentageField"-->
          <!--min="10" max="100"-->
          <!--(keyup)="calcAdvancePaymentAmount()"-->
          <!--(change)="calcAdvancePaymentAmount()">-->

          <div
            [hidden]="leasingCalculatorForm.get('advancePaymentPercentage').valid || leasingCalculatorForm.get('advancePaymentPercentage').untouched"
            class="alert alert-danger">
            Advance payment percentage must be between 10% and 100%
          </div>

          <!--</div>-->

          <div class="form-row">

            <!--<div class="form-group col-md-4 col-sm-6">-->
            <!--<label for="advancePaymentAmount">{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}</label>-->
            <!--<input type="number" class="form-control" id="advancePaymentAmount" name="advancePaymentAmountField"-->
            <!--formControlName="advancePaymentAmount"-->
            <!--min="500" max="9999999"-->
            <!--(keyup)="calcAdvancePaymentPercentage()"-->
            <!--(change)="calcAdvancePaymentPercentage()">-->
            <!--<div>-->
            <!--<label>{{ leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}} </label>-->
            <mat-form-field>
              <input matInput #input type="number" class="form-control" id="advancePaymentAmount"
                     placeholder="Advance payment amount"
                     name="advancePaymentAmountField"
                     formControlName="advancePaymentAmount"
                     min="500" max="9999999"
                     (keyup)="calcAdvancePaymentPercentage()"
                     (change)="calcAdvancePaymentPercentage()">
            </mat-form-field>
          </div>

          <!--<div class="form-row">-->

          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="advancePaymentAmount">{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}</label>-->
          <!--<input type="text" class="form-control" id="advancePaymentAmount" name="advancePaymentAmountField"-->
          <!--formControlName="advancePaymentAmount"-->
          <!--min="500" max="9999999"-->
          <!--(keyup)="calcAdvancePaymentPercentage()"-->
          <!--(change)="calcAdvancePaymentPercentage()">-->

          <div
            [hidden]="leasingCalculatorForm.get('advancePaymentAmount').valid || leasingCalculatorForm.get('advancePaymentAmount').untouched"
            class="alert alert-danger">
            Advance payment amount must be {{this.minAdvancePaymentAmount.toFixed(2)}}€ and
            {{this.maxAdvancePaymentAmount.toFixed(2)}}€
          </div>
          <!--</div>-->

          <div>
            <!--<label for="contractFee">{{leasingFormLabels.CONTRACT_FEE}}</label>-->
            <mat-form-field>
              <input matInput #input type="text" class="form-control" id="contractFee" name="contractFeeField"
                     formControlName="contractFee"
                      placeholder="Contract fee" disabled>
            </mat-form-field>
          </div>

          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="contractFee">{{leasingFormLabels.CONTRACT_FEE}}</label>-->
          <!--<input type="text" class="form-control" id="contractFee" name="contractFeeField"-->
          <!--formControlName="contractFee" disabled>-->
          <!--</div>-->

          <!--</div>-->

          <div>
            <!--<label for="margin">{{leasingFormLabels.MARGIN}}</label>-->
            <mat-form-field>
              <input matInput #input type="number" class="form-control" placeholder="Margin" id="margin" required
                     formControlName="margin" name="margin" step="0.1" min="3.2" max="100">
            </mat-form-field>
          </div>
          <!--</div>-->
          <!--<div class="form-row">-->
          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="margin">{{leasingFormLabels.MARGIN}}</label>-->
          <!--<input type="number" class="form-control" id="margin" required-->
          <!--formControlName="margin" name="margin" step="0.1" min="3.2" max="100">-->

          <div [hidden]="leasingCalculatorForm.get('margin').valid || leasingCalculatorForm.get('margin').untouched"
               class="alert alert-danger">
            Margin must be between 3.2% and 100 %
          </div>

          <!--</div>-->

          <div>
            <!--<label>{{leasingFormLabels.LEASING_PERIOD}}</label>-->
            <mat-form-field>
              <mat-select formControlName="leasePeriodInMonths" placeholder="Leasing period">
                <mat-option *ngFor="let type of leasePeriods" required [value]="type">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="leasePeriodInMonths">{{leasingFormLabels.LEASING_PERIOD}}</label>-->
          <!--<select class="form-control" id="leasePeriodInMonths" required name="leasePeriodInMonthsField"-->
          <!--formControlName="leasePeriodInMonths">-->
          <!--<option *ngFor="let type of leasePeriods" [value]="type">{{type}}</option>-->
          <!--</select>-->

          <div
            [hidden]="leasingCalculatorForm.get('leasePeriodInMonths').valid || leasingCalculatorForm.get('leasePeriodInMonths').untouched"
            class="alert alert-danger">
            Lease period is required.
          </div>

          <!--</div>-->
          <!--</div>-->

          <div>
            <!--<label>{{leasingFormLabels.PAYMENT_DAY}}</label>-->
            <mat-form-field>
              <mat-select formControlName="paymentDate" placeholder="Payment day">
                <mat-option *ngFor="let currentDay of availableDays"  required [value]="currentDay"> {{currentDay}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--<div class="form-row">-->
          <!--<div class="form-group col-md-4 col-sm-6">-->
          <!--<label for="paymentDay">{{leasingFormLabels.PAYMENT_DAY}}</label>-->
          <!--<select class="form-control" id="paymentDay" name="paymentDateField" formControlName="paymentDate"-->
          <!--required>-->
          <!--<option *ngFor="let currentDay of availableDays" [value]="currentDay">{{currentDay}}</option>-->
          <!--</select>-->
          <div
            [hidden]="leasingCalculatorForm.get('paymentDate').valid || leasingCalculatorForm.get('paymentDate').untouched"
            class="alert alert-danger">
            Payment date is required.
          </div>
          <!--</div>-->
          <!--</div>-->
          <button mat-button type="submit" color="primary" (click)="isVisible()">Calculate</button>
          <button mat-button type="button" color="accent" (click)="setLeasingCalculator()">Apply Now</button>
          <!--</div>-->




        <!--</div>-->

      </form>
    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--<button type="submit" class="btn btn-success" (click)="isVisible()">Calculate</button>-->
      <!--<button type="button" class="btn btn-success" (click)="setLeasingCalculator()">Apply Now</button>-->
    </mat-card-actions>
  </mat-card>
  <mat-card class="background"  id="matcard2">
    <mat-card-header>
      <mat-card-title>Leasing Payment Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="repaymentSchedule" hidden >
        <form>
          <div class="form-row">
            <div class="form-group col-sm-2" *ngFor="let label of leasingCalculatorLabels">
              <div class="panel panel-info">
                <div class="panel-body"><b>{{label}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row" *ngFor="let repayment of repaymentSchedule">
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.repaymentDate}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.remainingAmountToRepay.toFixed(2)}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.assetValuePaymentAmount.toFixed(2)}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.interestPaymentAmount.toFixed(2)}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body" *ngIf="repayment.contractFee != 0">
                  <i>{{repayment.contractFee.toFixed(2)}}</i>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="panel panel-info">
                <div class="panel-body">
                  <i>{{repayment.totalPaymentAmount.toFixed(2)}}</i>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>

  </mat-card>
</div>




<!--<div class="container">-->
  <!--<h1>Leasing Calculator</h1>-->
  <!--<div id="grid">-->
    <!--<mat-grid-list cols="4" rowHeight="100px">-->
      <!--&lt;!&ndash;<mat-grid-tile&ndash;&gt;-->
      <!--&lt;!&ndash;*ngFor="let tile of tiles"&ndash;&gt;-->
      <!--&lt;!&ndash;[colspan]="tile.cols"&ndash;&gt;-->
      <!--&lt;!&ndash;[rowspan]="tile.rows"&ndash;&gt;-->
      <!--&lt;!&ndash;[style.background]="tile.color">&ndash;&gt;-->

      <!--<mat-grid-tile [colspan]="tile1.cols" [rowspan]="tile1.rows" [style.background]="tile1.color">-->

        <!--&lt;!&ndash;<mat-grid-tile-header>&ndash;&gt;-->
        <!--&lt;!&ndash;{{tile1.text}}&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-grid-tile-header>&ndash;&gt;-->

        <!--<div>-->

          <!--<form [formGroup]="leasingCalculatorForm" (ngSubmit)="submitForm()">-->

            <!--<div>-->
              <!--<label>{{leasingFormLabels.CUSTOMER_TYPE}} </label>-->
              <!--<mat-form-field class="inline-form">-->
                <!--&lt;!&ndash;<div class="inline-form">&ndash;&gt;-->
                <!--<mat-select id="customerType" required name="customerTypeField"-->
                            <!--formControlName="customerType" (change)="updateMinValues()">-->

                  <!--&lt;!&ndash;<mat-option *ngFor="let type of availableCustomerTypes" value="type"> {{type}}</mat-option>&ndash;&gt;-->
                  <!--<mat-option [value]="PRIVATE">Private</mat-option>-->
                  <!--<mat-option [value]="BUSINESS">Business</mat-option>-->
                <!--</mat-select>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</mat-form-field>-->

              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="customerType">{{leasingFormLabels.CUSTOMER_TYPE}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<select class="form-control" id="customerType" required name="customerTypeField"&ndash;&gt;-->
              <!--&lt;!&ndash;formControlName="customerType" (change)="updateMinValues()">&ndash;&gt;-->
              <!--&lt;!&ndash;<option *ngFor="let type of availableCustomerTypes" [value]="type">{{type}}</option>&ndash;&gt;-->
              <!--&lt;!&ndash;</select>&ndash;&gt;-->

              <!--<div-->
                <!--[hidden]="leasingCalculatorForm.get('customerType').valid || leasingCalculatorForm.get('customerType').untouched"-->
                <!--class="alert-danger alert">-->
                <!--Customer type is required-->
              <!--</div>-->


              <!--<div>-->
                <!--<label>{{leasingFormLabels.ASSET_PRICE}}</label>-->
                <!--<mat-form-field>-->
                  <!--<input matInput #input type="number" class="form-control" id="assetPrice" required-->
                         <!--formControlName="assetPrice"-->
                         <!--name="assetPriceField"-->
                         <!--min="5000" max="9999999"-->
                         <!--(keyup)="manageDependantFields()"-->
                         <!--(change)="manageDependantFields()">-->
                <!--</mat-form-field>-->
              <!--</div>-->

              <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="assetPrice">{{leasingFormLabels.ASSET_PRICE}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="number" class="form-control" id="assetPrice" required&ndash;&gt;-->
              <!--&lt;!&ndash;formControlName="assetPrice"&ndash;&gt;-->
              <!--&lt;!&ndash;name="assetPriceField"&ndash;&gt;-->
              <!--&lt;!&ndash;min="5000" max="9999999"&ndash;&gt;-->
              <!--&lt;!&ndash;(keyup)="manageDependantFields()"&ndash;&gt;-->
              <!--&lt;!&ndash;(change)="manageDependantFields()">&ndash;&gt;-->

              <!--<div-->
                <!--[hidden]="leasingCalculatorForm.get('assetPrice').valid || leasingCalculatorForm.get('assetPrice').untouched"-->
                <!--class="alert alert-danger">-->
                <!--Asset price must be between {{this.minAssetPrice.toFixed(2)}}€ and 9999999.00€-->
              <!--</div>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--<div>-->
                <!--<label> {{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}} </label>-->
                <!--<mat-form-field>-->
                  <!--<input matInput #input type="number" class="form-control" id="advancePaymentPercentage"-->
                         <!--formControlName="advancePaymentPercentage"-->
                         <!--name="advancePaymentPercentageField"-->
                         <!--min="10" max="100"-->
                         <!--(keyup)="calcAdvancePaymentAmount()"-->
                         <!--(change)="calcAdvancePaymentAmount()">-->
                <!--</mat-form-field>-->
              <!--</div>-->
              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="advancePaymentPercentage">{{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="number" class="form-control" id="advancePaymentPercentage"&ndash;&gt;-->
              <!--&lt;!&ndash;formControlName="advancePaymentPercentage"&ndash;&gt;-->
              <!--&lt;!&ndash;name="advancePaymentPercentageField"&ndash;&gt;-->
              <!--&lt;!&ndash;min="10" max="100"&ndash;&gt;-->
              <!--&lt;!&ndash;(keyup)="calcAdvancePaymentAmount()"&ndash;&gt;-->
              <!--&lt;!&ndash;(change)="calcAdvancePaymentAmount()">&ndash;&gt;-->

              <!--<div-->
                <!--[hidden]="leasingCalculatorForm.get('advancePaymentPercentage').valid || leasingCalculatorForm.get('advancePaymentPercentage').untouched"-->
                <!--class="alert alert-danger">-->
                <!--Advance payment percentage must be between 10% and 100%-->
              <!--</div>-->

              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--<div class="form-row">-->

                <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="advancePaymentAmount">{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}</label>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="number" class="form-control" id="advancePaymentAmount" name="advancePaymentAmountField"&ndash;&gt;-->
                <!--&lt;!&ndash;formControlName="advancePaymentAmount"&ndash;&gt;-->
                <!--&lt;!&ndash;min="500" max="9999999"&ndash;&gt;-->
                <!--&lt;!&ndash;(keyup)="calcAdvancePaymentPercentage()"&ndash;&gt;-->
                <!--&lt;!&ndash;(change)="calcAdvancePaymentPercentage()">&ndash;&gt;-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--<label>{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}} </label>-->
                <!--<mat-form-field>-->
                  <!--<input matInput #input type="number" class="form-control" id="advancePaymentAmount"-->
                         <!--name="advancePaymentAmountField"-->
                         <!--formControlName="advancePaymentAmount"-->
                         <!--min="500" max="9999999"-->
                         <!--(keyup)="calcAdvancePaymentPercentage()"-->
                         <!--(change)="calcAdvancePaymentPercentage()">-->
                <!--</mat-form-field>-->
              <!--</div>-->

              <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="advancePaymentAmount">{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" class="form-control" id="advancePaymentAmount" name="advancePaymentAmountField"&ndash;&gt;-->
              <!--&lt;!&ndash;formControlName="advancePaymentAmount"&ndash;&gt;-->
              <!--&lt;!&ndash;min="500" max="9999999"&ndash;&gt;-->
              <!--&lt;!&ndash;(keyup)="calcAdvancePaymentPercentage()"&ndash;&gt;-->
              <!--&lt;!&ndash;(change)="calcAdvancePaymentPercentage()">&ndash;&gt;-->

              <!--<div-->
                <!--[hidden]="leasingCalculatorForm.get('advancePaymentAmount').valid || leasingCalculatorForm.get('advancePaymentAmount').untouched"-->
                <!--class="alert alert-danger">-->
                <!--Advance payment amount must be {{this.minAdvancePaymentAmount.toFixed(2)}}€ and-->
                <!--{{this.maxAdvancePaymentAmount.toFixed(2)}}€-->
              <!--</div>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--<div>-->
                <!--<label for="contractFee">{{leasingFormLabels.CONTRACT_FEE}}</label>-->
                <!--<mat-form-field>-->
                  <!--<input matInput #input type="text" class="form-control" id="contractFee" name="contractFeeField"-->
                         <!--formControlName="contractFee" disabled>-->
                <!--</mat-form-field>-->
              <!--</div>-->

              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="contractFee">{{leasingFormLabels.CONTRACT_FEE}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" class="form-control" id="contractFee" name="contractFeeField"&ndash;&gt;-->
              <!--&lt;!&ndash;formControlName="contractFee" disabled>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--<div>-->
                <!--<label for="margin">{{leasingFormLabels.MARGIN}}</label>-->
                <!--<mat-form-field>-->
                  <!--<input matInput #input type="number" class="form-control" id="margin" required-->
                         <!--formControlName="margin" name="margin" step="0.1" min="3.2" max="100">-->
                <!--</mat-form-field>-->
              <!--</div>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="margin">{{leasingFormLabels.MARGIN}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="number" class="form-control" id="margin" required&ndash;&gt;-->
              <!--&lt;!&ndash;formControlName="margin" name="margin" step="0.1" min="3.2" max="100">&ndash;&gt;-->

              <!--<div [hidden]="leasingCalculatorForm.get('margin').valid || leasingCalculatorForm.get('margin').untouched"-->
                   <!--class="alert alert-danger">-->
                <!--Margin must be between 3.2% and 100 %-->
              <!--</div>-->

              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--<div>-->
                <!--<label>{{leasingFormLabels.LEASING_PERIOD}}</label>-->
                <!--<mat-form-field>-->
                  <!--<mat-select formControlName="leasePeriodInMonths">-->
                    <!--<mat-option *ngFor="let type of leasePeriods" [value]="type">{{type}}</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
              <!--</div>-->


              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="leasePeriodInMonths">{{leasingFormLabels.LEASING_PERIOD}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<select class="form-control" id="leasePeriodInMonths" required name="leasePeriodInMonthsField"&ndash;&gt;-->
              <!--&lt;!&ndash;formControlName="leasePeriodInMonths">&ndash;&gt;-->
              <!--&lt;!&ndash;<option *ngFor="let type of leasePeriods" [value]="type">{{type}}</option>&ndash;&gt;-->
              <!--&lt;!&ndash;</select>&ndash;&gt;-->

              <!--<div-->
                <!--[hidden]="leasingCalculatorForm.get('leasePeriodInMonths').valid || leasingCalculatorForm.get('leasePeriodInMonths').untouched"-->
                <!--class="alert alert-danger">-->
                <!--Lease period is required.-->
              <!--</div>-->

              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--<div>-->
                <!--<label>{{leasingFormLabels.PAYMENT_DAY}}</label>-->
                <!--<mat-form-field>-->
                  <!--<mat-select formControlName="paymentDate">-->
                    <!--<mat-option *ngFor="let currentDay of availableDays" [value]="currentDay"> {{currentDay}}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
              <!--</div>-->
              <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-md-4 col-sm-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="paymentDay">{{leasingFormLabels.PAYMENT_DAY}}</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<select class="form-control" id="paymentDay" name="paymentDateField" formControlName="paymentDate"&ndash;&gt;-->
              <!--&lt;!&ndash;required>&ndash;&gt;-->
              <!--&lt;!&ndash;<option *ngFor="let currentDay of availableDays" [value]="currentDay">{{currentDay}}</option>&ndash;&gt;-->
              <!--&lt;!&ndash;</select>&ndash;&gt;-->
              <!--<div-->
                <!--[hidden]="leasingCalculatorForm.get('paymentDate').valid || leasingCalculatorForm.get('paymentDate').untouched"-->
                <!--class="alert alert-danger">-->
                <!--Payment date is required.-->
              <!--</div>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--<button mat-button type="submit"  color="primary" class="custom-theme">Calculate</button>-->
              <!--<button mat-button type="button" color="accent" class="custom-theme" (click)="setLeasingCalculator()">Apply Now</button>-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--</div>-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--</form>-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-grid-tile>&ndash;&gt;-->

        <!--</div>-->
      <!--</mat-grid-tile>-->
      <!--&lt;!&ndash;</mat-grid-list>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-grid-tile class="container" [colspan]="tile2.cols" [rowspan]="tile2.rows" [style.background]="tile2.color">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<mat-grid-tile-header>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;{{tile2.text}}&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;</mat-grid-tile-header>&ndash;&gt;&ndash;&gt;-->


        <!--&lt;!&ndash;<div id="repaymentSchedule" hidden>&ndash;&gt;-->
          <!--&lt;!&ndash;<form>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-sm-2" *ngFor="let label of leasingCalculatorLabels">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-info">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="panel-body"><b>{{label}}</b>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="form-row" *ngFor="let repayment of repaymentSchedule">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-sm-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-info">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i>{{repayment.repaymentDate}}</i>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-sm-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-info">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i>{{repayment.remainingAmountToRepay.toFixed(2)}}</i>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-sm-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-info">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i>{{repayment.assetValuePaymentAmount.toFixed(2)}}</i>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-sm-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-info">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i>{{repayment.interestPaymentAmount.toFixed(2)}}</i>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-sm-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-info">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="panel-body" *ngIf="repayment.contractFee != 0">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i>{{repayment.contractFee.toFixed(2)}}</i>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group col-sm-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="panel panel-info">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i>{{repayment.totalPaymentAmount.toFixed(2)}}</i>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;</mat-grid-tile>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-grid-tile>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-grid-list>&ndash;&gt;-->

    <!--</mat-grid-list>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container">-->

<!--<h1>Leasing Application</h1>-->

<!--<form [formGroup]="leasingCalculatorForm" (ngSubmit)="submitForm()">-->


<!--<div class="form-row">-->
<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="customerType">{{leasingFormLabels.CUSTOMER_TYPE}}</label>-->
<!--<select class="form-control" id="customerType" required name="customerTypeField"-->
<!--formControlName="customerType" (change)="updateMinValues()">-->
<!--<option *ngFor="let type of availableCustomerTypes" [value]="type">{{type}}</option>-->
<!--</select>-->

<!--<div-->
<!--[hidden]="leasingCalculatorForm.get('customerType').valid || leasingCalculatorForm.get('customerType').untouched"-->
<!--class="alert-danger alert">-->
<!--Customer type is required-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="form-row">-->
<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="assetPrice">{{leasingFormLabels.ASSET_PRICE}}</label>-->
<!--<input type="number" class="form-control" id="assetPrice" required-->
<!--formControlName="assetPrice"-->
<!--name="assetPriceField"-->
<!--min="5000" max="9999999"-->
<!--(keyup)="manageDependantFields()"-->
<!--(change)="manageDependantFields()">-->

<!--<div-->
<!--[hidden]="leasingCalculatorForm.get('assetPrice').valid || leasingCalculatorForm.get('assetPrice').untouched"-->
<!--class="alert alert-danger">-->
<!--Asset price must be between {{this.minAssetPrice.toFixed(2)}}€ and 9999999.00€-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="advancePaymentPercentage">{{leasingFormLabels.ADVANCE_PAYMENT_PERCENTAGE}}</label>-->
<!--<input type="number" class="form-control" id="advancePaymentPercentage"-->
<!--formControlName="advancePaymentPercentage"-->
<!--name="advancePaymentPercentageField"-->
<!--min="10" max="100"-->
<!--(keyup)="calcAdvancePaymentAmount()"-->
<!--(change)="calcAdvancePaymentAmount()">-->

<!--<div-->
<!--[hidden]="leasingCalculatorForm.get('advancePaymentPercentage').valid || leasingCalculatorForm.get('advancePaymentPercentage').untouched"-->
<!--class="alert alert-danger">-->
<!--Advance payment percentage must be between 10% and 100%-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<div class="form-row">-->

<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="advancePaymentAmount">{{leasingFormLabels.ADVANCE_PAYMENT_AMOUNT}}</label>-->
<!--<input type="text" class="form-control" id="advancePaymentAmount" name="advancePaymentAmountField"-->
<!--formControlName="advancePaymentAmount"-->
<!--min="500" max="9999999"-->
<!--(keyup)="calcAdvancePaymentPercentage()"-->
<!--(change)="calcAdvancePaymentPercentage()">-->

<!--<div-->
<!--[hidden]="leasingCalculatorForm.get('advancePaymentAmount').valid || leasingCalculatorForm.get('advancePaymentAmount').untouched"-->
<!--class="alert alert-danger">-->
<!--Advance payment amount must be {{this.minAdvancePaymentAmount.toFixed(2)}}€ and {{this.maxAdvancePaymentAmount.toFixed(2)}}€-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="contractFee">{{leasingFormLabels.CONTRACT_FEE}}</label>-->
<!--<input type="text" class="form-control" id="contractFee" name="contractFeeField"-->
<!--formControlName="contractFee" disabled>-->
<!--</div>-->

<!--</div>-->

<!--<div class="form-row">-->
<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="margin">{{leasingFormLabels.MARGIN}}</label>-->
<!--<input type="number" class="form-control" id="margin" required-->
<!--formControlName="margin" name="margin" step="0.1" min="3.2" max="100">-->

<!--<div [hidden]="leasingCalculatorForm.get('margin').valid || leasingCalculatorForm.get('margin').untouched"-->
<!--class="alert alert-danger">-->
<!--Margin must be between 3.2% and 100 %-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="leasePeriodInMonths">{{leasingFormLabels.LEASING_PERIOD}}</label>-->
<!--<select class="form-control" id="leasePeriodInMonths" required name="leasePeriodInMonthsField"-->
<!--formControlName="leasePeriodInMonths">-->
<!--<option *ngFor="let type of leasePeriods" [value]="type">{{type}}</option>-->
<!--</select>-->

<!--<div-->
<!--[hidden]="leasingCalculatorForm.get('leasePeriodInMonths').valid || leasingCalculatorForm.get('leasePeriodInMonths').untouched"-->
<!--class="alert alert-danger">-->
<!--Lease period is required.-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<div class="form-row">-->
<!--<div class="form-group col-md-4 col-sm-6">-->
<!--<label for="paymentDay">{{leasingFormLabels.PAYMENT_DAY}}</label>-->
<!--<select class="form-control" id="paymentDay" name="paymentDateField" formControlName="paymentDate"-->
<!--required>-->
<!--<option *ngFor="let currentDay of availableDays" [value]="currentDay">{{currentDay}}</option>-->
<!--</select>-->
<!--<div-->
<!--[hidden]="leasingCalculatorForm.get('paymentDate').valid || leasingCalculatorForm.get('paymentDate').untouched"-->
<!--class="alert alert-danger">-->
<!--Payment date is required.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-success">Calculate</button>-->
<!--<button type="button" class="btn btn-success" (click)="setLeasingCalculator()">Apply Now</button>-->
<!--</form>-->
<!--</div>-->

<!--<div class="container" id="repaymentSchedule" hidden>-->
<!--<form>-->
<!--<div class="form-row">-->
<!--<div class="form-group col-sm-2" *ngFor="let label of leasingCalculatorLabels">-->
<!--<div class="panel panel-info">-->
<!--<div class="panel-body"><b>{{label}}</b>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-row" *ngFor="let repayment of repaymentSchedule">-->
<!--<div class="form-group col-sm-2">-->
<!--<div class="panel panel-info">-->
<!--<div class="panel-body">-->
<!--<i>{{repayment.repaymentDate}}</i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-sm-2">-->
<!--<div class="panel panel-info">-->
<!--<div class="panel-body">-->
<!--<i>{{repayment.remainingAmountToRepay.toFixed(2)}}</i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-sm-2">-->
<!--<div class="panel panel-info">-->
<!--<div class="panel-body">-->
<!--<i>{{repayment.assetValuePaymentAmount.toFixed(2)}}</i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-sm-2">-->
<!--<div class="panel panel-info">-->
<!--<div class="panel-body">-->
<!--<i>{{repayment.interestPaymentAmount.toFixed(2)}}</i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-sm-2">-->
<!--<div class="panel panel-info">-->
<!--<div class="panel-body" *ngIf="repayment.contractFee != 0">-->
<!--<i>{{repayment.contractFee.toFixed(2)}}</i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group col-sm-2">-->
<!--<div class="panel panel-info">-->
<!--<div class="panel-body">-->
<!--<i>{{repayment.totalPaymentAmount.toFixed(2)}}</i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!---->
<!--</div>-->

