/*.mycolor {*/
  /*color: red;*/
/*}*/

/*.mat-button {*/
  /*color: red;*/
  /*background-color: #512b2b;*/
/*}*/

#grid {
  margin: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.inline-form {
  align-items: center;
}
