#back {
  background: -ms-linear-gradient(left, #020027 0, #020079 100%);
  background: linear-gradient(to right, #020027 0, #020079 100%);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}

#front {
  padding-left: 5%;
  padding-right: 5%;

  background-image: -webkit-linear-gradient(left, #d5d5d5, #aaaaaa);
  background-image: -moz-linear-gradient(left, #d5d5d5, #aaaaaa);
  background-image: -ms-linear-gradient(left, #d5d5d5, #aaaaaa);
  background-image: -o-linear-gradient(left, #d5d5d5, #aaaaaa);
  background-image: linear-gradient(to right, #d5d5d5, #aaaaaa);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 10px #aaaaaa;
  -moz-box-shadow: 4px 4px 10px #aaaaaa;
  box-shadow: 4px 4px 10px #aaaaaa;
  border: 1px solid #9f9f9f;
  border-right-width: 3px;
  border-bottom-width: 3px;
}

#welcomeMessage {
  font-size: 25px;
  text-align: center;
}
