<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="div1">
  <div class="container">
    <div class="main1">
      <h1>Car Leasing</h1>
      <h4>We are happy to help you purchase the car of your dreams.</h4>
      <a class="btn-main" href=''>Get Started</a>
    </div>
  </div>
</div>

<div class="div2">
  <div class="container">
    <div class="main2">
      <img class="image" src="assets/images/HomePage/car-side.png">
      <h3>Any car, anytime, anywhere!</h3>
      <a class="btn-main" href=''>Get Started</a>
    </div>
  </div>
</div>

<div class="div3">
  <div class="container">
    <div class="main1">
      <h5>Mūsų žinios – vertė jums</h5>
    </div>
  </div>
</div>

<div class="div4">
  <div class="container">
    <div class="main4">
      <div class="arrow"></div>
      <ul class="ChatLog">
        <li class="ChatLog__entry">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c1.jpg"/>
          <p class="ChatLog__message">
            Hello!
            <time class="ChatLog__timestamp">6 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c1.jpg"/>
          <p class="ChatLog__message">
            What is blue leasing?
            <time class="ChatLog__timestamp">5 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry ChatLog__entry_mine">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c2.jpg"/>
          <p class="ChatLog__message">
            A car lease lets you drive a new vehicle without paying a large sum of cash.
            <time class="ChatLog__timestamp">4 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c1.jpg"/>
          <p class="ChatLog__message">
            What is Blue Leasing?
            <time class="ChatLog__timestamp">3 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry ChatLog__entry_mine">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c2.jpg"/>
          <p class="ChatLog__message">
            A Blue Leasing is a personal loan which are used to purchase an vehicle. More specifically a lender loans
            the borrower (you) the cash it takes to purchase a vehice. In return the borrower agrees to pay back the
            lender the amount of the leas plus interest, usually in mont payments, until amount is fully paid off.
            <time class="ChatLog__timestamp">2 minutes ago</time>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="div3">
  <div class="container">
    <div class="main5">
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="assets/images/HomePage/man1.jpg" alt="John" style="width:100%">
            <h1>John Doe</h1>
            <p class="title">CEO & Founder, Company</p>
            <p>The best service!</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/images/HomePage/man1.jpg" alt="John" style="width:100%">
            <h1>John Doe</h1>
            <p class="title">CEO & Founder, Company</p>
            <p>The best service!</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/images/HomePage/man1.jpg" alt="John" style="width:100%">
            <h1>John Doe</h1>
            <p class="title">CEO & Founder, Company</p>
            <p>The best service!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--<div class="supporting">-->
<!--<div class="container">-->
<!--<div class="col">-->
<!--<img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">-->
<!--<h2>What is leasing?</h2>-->
<!--<p>A car lease lets you drive a new vehicle without paying a large sum of cash.</p>-->
<!--<a href='' class="dft-btn">Learn More</a>-->
<!--</div>-->
<!--<div class="col">-->
<!--<img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">-->
<!--<h2>Develop</h2>-->
<!--<p>Use modern tools to turn your design into a web site</p>-->
<!--<a href='' class="dft-btn">Learn More</a>-->
<!--</div>-->
<!--<div class="col">-->
<!--<img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">-->
<!--<h2>Deploy</h2>-->
<!--<p>Use modern tools to turn your design into a web site</p>-->
<!--<a href='' class="dft-btn">Learn More</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->

<div class="footer">
  <div class="container">
    <p>&copy; Broadway 2015</p>
  </div>
</div>



