<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="div1">
  <div class="container">
    <div class="main1">
      <img class="image" src="assets/images/HomePage/car-side.png">
      <h1>Blue Leasing</h1>
      <!--<h4>We are happy to help you purchase the car of your dreams.</h4>-->
      <button mat-raised-button class="btn-main" (click)="routeToApplicationForm()">Get Started</button>
    </div>
  </div>
</div>

<!--<div class="div2">-->
<!--<div class="container">-->
<!--<div class="main2">-->
<!--<img class="image" src="assets/images/HomePage/car-side.png">-->
<!--<h3>Any car, anytime, anywhere!</h3>-->
<!--<a class="btn-main" href=''>Get Started</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="div4">
  <div class="container">
    <div class="main4">
      <div class="arrow"></div>
      <ul class="ChatLog">
        <li class="ChatLog__entry">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c1.jpg"/>
          <p class="ChatLog__message">
            Hello!
            <time class="ChatLog__timestamp">6 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c1.jpg"/>
          <p class="ChatLog__message">
            What is leasing?
            <time class="ChatLog__timestamp">5 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry ChatLog__entry_mine">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c2.jpg"/>
          <p class="ChatLog__message">
            A car lease lets you drive a new vehicle without paying a large sum of cash.
            <time class="ChatLog__timestamp">4 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c1.jpg"/>
          <p class="ChatLog__message">
            What is Blue Leasing?
            <time class="ChatLog__timestamp">3 minutes ago</time>
          </p>
        </li>
        <li class="ChatLog__entry ChatLog__entry_mine">
          <img class="ChatLog__avatar" src="assets/images/HomePage/c2.jpg"/>
          <p class="ChatLog__message">
            Blue Leasing is a personal loan which is used to purchase a vehicle. More specifically a lender loans
            the borrower (you) the cash it takes to purchase a vehicle. In return the borrower agrees to pay back the
            lender the amount of the lease plus interest, usually in monthly payments, until amount is fully paid off.
            <time class="ChatLog__timestamp">2 minutes ago</time>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="div3">
  <div class="container">
    <div class="main5">
      <div class="row">
        <div class="column">
          <div class="card">
            <img class="profilePic" src="assets/images/HomePage/monika.jpg" alt="John" style="width:100%">
            <h1>Monika Kazlauskaitė</h1>
            <p class="title">CEO & Founder, Successful Company</p>
            <p>The best service!</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img class="profilePic" src="assets/images/HomePage/algirdas.jpg" alt="John" style="width:100%">
            <h1>Algirdas Saliamonas</h1>
            <p class="title">Completely unrelated person</p>
            <p>Changed my life completely...</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img class="profilePic" src="assets/images/HomePage/mykolas.jpg" alt="John" style="width:100%">
            <h1>Mykolas Kisielius</h1>
            <p class="title">President of Gotham</p>
            <p>Never tried, but my grandfather used to say it was amazing!</p>
          </div>
        </div>
      </div>

  </div>
</div>


<div class="supporting">
  <div class="container">
    <div class="col">
      <h2>Calculator</h2>
      <p>To see how money you will need to pay per month</p>
      <a (click)="routeToCalculator()" class="dft-btn">Learn More</a>
    </div>
    <div class="col">
      <h2>Apply</h2>
      <p>Fill in the application and apply for leasing</p>
      <a (click)="routeToApplicationForm()" class="dft-btn">Learn More</a>
    </div>
    <div class="col">
      <h2>Check</h2>
      <p>Check your application leasing status</p>
      <a (click)="routeToCheckStatus()" class="dft-btn">Learn More</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="footer">
  <div class="container">
    <p>&copy; Blue Leasing 2018</p>
  </div>
</div>



